.contacts {
  display: flex;
  flex-direction: column;

  height: calc(100% - 120px);

  overflow-x: hidden;
  overflow-y: auto;
}

.contact {
  display: flex;
  padding: 10px 20px;

  border-radius: 12px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($color: black, $alpha: .1);
  }
}

.contact__img {
  margin-right: 20px;
  border-radius: 50%;
}

.contact__name {
  margin-top: 0;
  margin-bottom: 0;

  color: white;
}

.pages {
  display: flex;
}

.page {
  margin-right: 10px;

  cursor: pointer;

  &.active {
    font-weight: bold;
    cursor: default;
  }
}